*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# compilation folders
/bin/
/out/
/target/
/build/

# Eclipse files and folders
# /.settings keep the settings file for warnings and formatter
.classpath
.project

# IntelliJ folders
/.idea
/.idea-files
*.iml

# Gradle folder
/.gradle/
